<!-- Template File for pool_control web interface [DATABASE VERSION]
__author__ = 'Richard J. Sears'
VERSION = "V3.5.0 (2019-02-16)"
richard@sears.net
-->

<!doctype html>
<html>
   <head>
      <title>Pool Control</title>
      <meta http-equiv="refresh" content="60" >
      <script src="{{url_for('static', filename='steelseries-min.js')}}"></script>
      <link rel="icon" type="image/png" href="{{url_for('static', filename='pool-favicon.jpg')}}">
   </head>
   <body>
	   <!--  <body background="{{url_for('static', filename='swimming-pool-background.jpg')}}"> -->
      <p style="text-align:center;">
         <img src="{{url_for('static', filename='pool-favicon.jpg')}}" height="100" width="100">
      <center>
         <iframe src="http://free.timeanddate.com/clock/i64ad8fh/n197/fs16/ftb/tt0/tw0/tm1/th1/tb2" frameborder="0" width="210" height="25"></iframe>
      </center>
      </p>
      <center>
      <body onload=init()>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;border-width:0px;border-style:solid;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-6f4q{font-weight:bold;font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
.tg .tg-3a3g{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-lrzf{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
</style>
<center>
<table class="tg" width=65% border="0">
  <tr>
    <th class="tg-6f4q" colspan="8">System Status and Functions</th>
  </tr>
  <tr>
    <td class="tg-3a3g">System Status<br></td>
    <td class="tg-3a3g">Pump Running</td>
     {% if pool_is_filling and alexa_manual_fill %}
    <td class="tg-3a3g">Alexa Filling</td>
      {% else %}
      <td class="tg-3a3g">Pool Filling</td>
      {% endif %}
    <td class="tg-3a3g">Manual Fill</td>
    <td class="tg-3a3g">Sprinklers</td>
    <td class="tg-3a3g">Acid Level</td>
      <td class="tg-3a3g">Auto Fill</td>
      <td class="tg-3a3g"><b>Request Reset?</b></td>
  </tr>
  <tr>
    <td class="tg-3a3g">
                  {% if system_error_led  %}
                  <img src="{{url_for('static', filename='dark-red-led-circle-md.png')}}" height="50" width="50">
                  {% elif system_run_led  %}
                  <img src="{{url_for('static', filename='led_circle_green.png')}}" height="50" width="50">
                  {% else %}
                  <img src="{{url_for('static', filename='led_circle_grey.png')}}" height="50" width="50">
                  {% endif %}
</td>
    <td class="tg-3a3g">
                  {% if pump_run_led  %}
		  <img src="{{url_for('static', filename='led_circle_green.png')}}" height="50" width="50"></a>
		  {% else %}
                  <img src="{{url_for('static', filename='led_circle_grey.png')}}" height="50" width="50">
                  {% endif %}
</td>
    <td class="tg-3a3g">
                  {% if pool_is_filling and not pool_manual_fill  %}
		  <a href="{{ url_for('web_auto_fill_cancel') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
                  {% elif pool_is_filling and pool_manual_fill %}
		  <img src="{{url_for('static', filename='led_circle_blue.png')}}" height="50" width="50">
                  {% else %}
                  <img src="{{url_for('static', filename='led_circle_grey.png')}}" height="50" width="50">
                  {% endif %}
</td>
    <td class="tg-3a3g">
                     {% if pool_manual_fill %}
		     <a href="{{ url_for('web_button_press') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
                     {% elif not sprinkler_run_led and not pool_is_filling %}
		     <a href="{{ url_for('web_button_press') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
		     {% else %}
		     <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70">
                     {% endif %}
</td>
    <td class="tg-3a3g">
                     {% if sprinkler_run_led %}
                     <img src="{{url_for('static', filename='led_circle_blue.png')}}" height="50" width="50">
                     {% else %}
                     <img src="{{url_for('static', filename='led_circle_grey.png')}}" height="50" width="50">
                     {% endif %}
</td>
    <td class="tg-3a3g">
               {% if acid_level_ok %}
               <img src="{{url_for('static', filename='led_circle_green.png')}}" height="50" width="50">
               {% else %}
               <img src="{{url_for('static', filename='dark-red-led-circle-md.png')}}" height="50" width="50">
               {% endif %}
</td>
      <td class="tg-3a3g">
                     {% if pool_autofill_active  %}
		     <a href="{{ url_for('toggle_pool_autofill') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
                     {% else %}
		     <a href="{{ url_for('toggle_pool_autofill') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
                     {% endif %}
</td>
      <td class="tg-3a3g">
                     {% if system_reset_required  %}
		     <a href="{{ url_for('toggle_reset') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
                     {% else %}
		     <a href="{{ url_for('toggle_reset') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
                     {% endif %}
</td>
  </tr>
  </tr>
</table>
         <br><br>
         <canvas id=PoolTemp width=300 height=300>No canvas in your browser...sorry...</canvas>
         <canvas id=PoolTempHumidity width=300 height=300></canvas>
         <canvas id=PoolLevelHumidity width=300 height=300></canvas>
         <canvas id=PumpWatts width=300 height=300></canvas>
         <canvas id=PumpRPM width=300 height=300></canvas>
         <canvas id=PumpGPM width=300 height=300></canvas>
         <canvas id=FilterPSI width=300 height=300></canvas>
         <canvas id=PoolLevel width=300 height=300></canvas>
         <canvas id=FillTime width=300 height=300></canvas>
         <canvas id=CurrentFillGallons width=300 height=300></canvas>
         <canvas id=LastFillGallons width=300 height=300></canvas>
         <canvas id=PoolpH width=300 height=300></canvas>
         <canvas id=PoolORP width=300 height=300></canvas>
    <br><br>
         <table>
         <tr>
         <td><center>
         <canvas id=TempBatt width=300 height=300></canvas><br>
         Pool Temp Sensor<br>Battery Level: <b>{{pool_temp_batt_percentage}}</b>%
         </center>       </td>
         <td width = "10%">            </td>
         <td><center>
         <canvas id=LevelBatt width=300 height=300></canvas><br>
         Pool Level Sensor<br>Battery Level: <b>{{pool_level_batt_percentage}}</b>%
         </center>       </td>
        <td width = "10%">            </td>
          <td><center>
         <canvas id=GarageBatt width=300 height=300></canvas><br>
         Garage Temp Sensor<br>Battery Level: <b>{{garage_temp_batt_percentage}}</b>%
         </center>       </td>
         <td width = "10%">            </td>
         <td><center>
         <canvas id=AtticBatt width=300 height=300></canvas><br>
         Attic Temp Sensor<br>Battery Level: <b>{{attic_temp_batt_percentage}}</b>%
         </center>       </td>

         </tr>
         </table>
	    	 </center>
<style type="text/css">
.tf  {border-collapse:collapse;border-spacing:0;border-color:#999;margin:0px auto;display:inline-block}
.tf td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tf th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tf .tf-baqh{text-align:center;vertical-align:top}
.tf .tf-3a3g{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center;vertical-align:top}
.tf .tf-82bq{font-size:14px;font-family:"Arial Black", Gadget, sans-serif !important;;text-align:center;vertical-align:top}
</style>
<table class="tf">
  <tr>
    <th class="tf-82bq" colspan="5">Notifications, Logging & Debug</th>
  </tr>
  <tr>
	  <td class="tf-3a3g">Console<br>Debugging</td>
    <td class="tf-3a3g">Logging</td>
    <td class="tf-3a3g">Push<br>Bullet</td>
    <td class="tf-3a3g">E-Mail</td>
    <td class="tf-3a3g">SMS<br>Text</td>
  </tr>
  <tr>
    <td class="tf-baqh">
	    {% if debug  %}
	        <a href="{{ url_for('toggle_debug') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_debug') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if logging  %}
	        <a href="{{ url_for('toggle_logging') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_logging') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pushbullet %}
	        <a href="{{ url_for('toggle_pushbullet') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_pushbullet') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if email %}
	        <a href="{{ url_for('toggle_email') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_email') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if sms %}
	        <a href="{{ url_for('toggle_sms') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_sms') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
  </tr>
</table>
<table class="tf">
  <tr>
    <th class="tf-82bq" colspan="5">Pump Control & Program</th>
  </tr>
  <tr>
	  <td class="tf-3a3g">Pump<br>Control</td>
	  <td class="tf-3a3g">Program 1<br>15 GPM</td>
    <td class="tf-3a3g">Program 2<br>20 GPM</td>
    <td class="tf-3a3g">Program 3<br>30 GPM</td>
    <td class="tf-3a3g">Program 4<br>50 GPM</td>
  </tr>
  <tr>
    <td class="tf-baqh">
               {% if pump_control_active %}
               <a href="{{ url_for('pump_control_software_stop') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
               {% else %}
               <a href="{{ url_for('pump_control_software_start') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
               {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pump_control_active and pump_program_running == "program_1" %}
	        <a href="{{ url_for('pump_stop') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% elif pump_control_active  %}
    	        <a href="{{ url_for('pump_program1') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
    	    {% else %}
    	        <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pump_control_active and pump_program_running == "program_2" %}
	        <a href="{{ url_for('pump_stop') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% elif pump_control_active %}
    	        <a href="{{ url_for('pump_program2') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
    	    {% else %}
    	        <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pump_control_active and pump_program_running == "program_3" %}
	        <a href="{{ url_for('pump_stop') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% elif pump_control_active %}
    	        <a href="{{ url_for('pump_program3') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
    	    {% else %}
    	        <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pump_control_active  and pump_program_running == "program_4" %}
	        <a href="{{ url_for('pump_stop') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% elif pump_control_active %}
    	        <a href="{{ url_for('pump_program4') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
    	    {% else %}
    	        <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
  </tr>
</table>
<br>
<table class="tf">
  <tr>
    <th class="tf-82bq" colspan="10">Toggle Notification Categories</th>
  </tr>
  <tr>
	  <td class="tf-3a3g">Pump<br>Control</td>
      <td class="tf-3a3g">Pump<br>Errors</td>
	  <td class="tf-3a3g">Pump<br>Programs</td>
    <td class="tf-3a3g">Pool<br>Filling</td>
    <td class="tf-3a3g">Level<br>Sensor</td>
    <td class="tf-3a3g">Temp<br>Sensor</td>
    <td class="tf-3a3g">Filter<br>PSI</td>
    <td class="tf-3a3g">Acid<br>Level</td>
    <td class="tf-3a3g">Control<br>Reset</td>
    <td class="tf-3a3g">System<br>DB</td>
  </tr>
  <tr>
    <td class="tf-baqh">
               {% if pump_control_software_notifications %}
               <a href="{{ url_for('toggle_notifications_pump_control_software') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
               {% else %}
               <a href="{{ url_for('toggle_notifications_pump_control_software') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
               {% endif %}
    </td>
    <td class="tf-baqh">
               {% if pool_pump_error_notifications %}
               <a href="{{ url_for('toggle_notifications_pool_pump_error') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a>
               {% else %}
               <a href="{{ url_for('toggle_notifications_pool_pump_error') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
               {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pump_control_notifications and pump_control_active %}
	        <a href="{{ url_for('toggle_notifications_pump') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% elif pump_control_active %}
    	        <a href="{{ url_for('toggle_notifications_pump') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
    	    {% else %}
    	        <img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_fill_notifications %}
	        <a href="{{ url_for('toggle_notifications_fill') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_fill') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_level_sensor_notifications %}
	        <a href="{{ url_for('toggle_notifications_pool_level_sensor') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_level_sensor') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_temp_sensor_notifications  %}
	        <a href="{{ url_for('toggle_notifications_pool_temp_sensor') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_temp_sensor') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_filter_psi_notifications  %}
	        <a href="{{ url_for('toggle_notifications_pool_filter_psi') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_filter_psi') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_acid_level_notifications  %}
	        <a href="{{ url_for('toggle_notifications_pool_acid_level') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_acid_level') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_fill_control_reset_notifications  %}
	        <a href="{{ url_for('toggle_notifications_pool_fill_control_reset') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_fill_control_reset') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
    <td class="tf-baqh">
	    {% if pool_database_notifications  %}
	        <a href="{{ url_for('toggle_notifications_pool_database') }}"><img src="{{url_for('static', filename='on_switch.png')}}" height="70" width="70"></a> 
    	    {% else %}
    	        <a href="{{ url_for('toggle_notifications_pool_database') }}"><img src="{{url_for('static', filename='off_switch.png')}}" height="70" width="70"></a>
	    {% endif %}
    </td>
  </tr>
</table>
<center><br>
<canvas id=TotalGallons></canvas> 
<canvas id=TotalPowerUse></canvas> 
<canvas id=TotalPowerImporting></canvas> 
<canvas id=TotalSolar></canvas> 
	<h4>Last System Update: {{current_military_time}}</h4>

	<iframe src="http://scripts:3000/d-solo/gkG8Rhzgz/pool-conditions?panelId=4&orgId=1&tab=legend&theme=light" width="550" height="300" frameborder="0"></iframe>
	<iframe src="http://scripts:3000/d-solo/gkG8Rhzgz/pool-conditions?panelId=2&orgId=1&tab=legend&theme=light" width="550" height="300" frameborder="0"></iframe>
	<!--	<iframe src="http://scripts:3000/d-solo/FinFyMmik/electrical?orgId=1&panelId=4&tab=legend&theme=light" width="550" height="300" frameborder="0"></iframe> -->
	<br>
   </body>
   <script>
      function init()
      {
              var pool_temp = new steelseries.Radial(
                              'PoolTemp', {
                                      section: Array(steelseries.Section(85,100,'rgba(220,220,0,0.3)')),
                                      area: Array(steelseries.Section(40,85,'rgba(0,0,255,0.5)')),
                                      minValue: 45,
                                      maxValue: 100,
                                      threshold: 100,
                                      ledVisible: false,
                                      titleString: 'Pool',
                                      unitString: 'Temp',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });
      
              var pump_watts = new steelseries.Radial(
                              'PumpWatts', {
                                      gaugeType: steelseries.GaugeType.TYPE4,
                                      maxValue: 1600,
                                      threshold: 1000,
                                      section: Array(steelseries.Section(0,1000,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(1000,1600,'rgba(255,0,0,0.5)')),
                                      titleString: 'Pump',
                                      unitString: 'Watts',
                      //              lcdVisible: false,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      pointerType: steelseries.PointerType.TYPE16,
                     //               pointerColor: steelseries.ColorDef.BLUE,
                                      lcdDecimals: 0,
                                      lcdColor: steelseries.LcdColor.RED,
                                      ledColor: steelseries.LedColor.RED_LED,
                              });

              var pump_rpm = new steelseries.Radial(
                              'PumpRPM', {
                                      gaugeType: steelseries.GaugeType.TYPE4,
			//	      minValue: 0
                                      maxValue: 3000,
                                      threshold: 2500,
                                      section: Array(steelseries.Section(0,2500,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(2500,3000,'rgba(255,0,0,0.5)')),
                                      titleString: 'Pump',
                                      unitString: 'RPM',
                      //              lcdVisible: false,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      pointerType: steelseries.PointerType.TYPE16,
                     //               pointerColor: steelseries.ColorDef.BLUE,
                                      lcdDecimals: 0,
                                      lcdColor: steelseries.LcdColor.RED,
                                      ledColor: steelseries.LedColor.RED_LED,
                              });

              var pump_gpm = new steelseries.Radial(
                              'PumpGPM', {
                                      gaugeType: steelseries.GaugeType.TYPE4,
			//	      minValue: 0
                                      maxValue: 100,
                                      threshold: 50,
                                      section: Array(steelseries.Section(0,50,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(50,100,'rgba(255,0,0,0.5)')),
                                      titleString: 'Pump',
                                      unitString: 'GPM',
                      //              lcdVisible: false,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      pointerType: steelseries.PointerType.TYPE16,
                     //               pointerColor: steelseries.ColorDef.BLUE,
                                      lcdDecimals: 0,
                                      lcdColor: steelseries.LcdColor.RED,
                                      ledColor: steelseries.LedColor.RED_LED,
                              });
      
              var filter_psi = new steelseries.Radial(
                              'FilterPSI', {
                                   //   gaugeType: steelseries.GaugeType.TYPE4,
                                      section: Array(steelseries.Section(0,40,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(40,80,'rgba(255,0,0,0.5)')),
                                      titleString: "Filter",
                                      unitString: "PSI",
                                      minValue: 0,
                                      maxValue: 80,
                                      threshold: 40,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                    //                valueColor: steelseries.ColorDef.BLUE,
                                      lcdDecimals: 0,
                                      lcdColor: steelseries.LcdColor.RED,
                                      ledColor: steelseries.LedColor.RED_LED,
                              });

              var pool_level = new steelseries.Radial(
                              'PoolLevel', {
                                      area: Array(steelseries.Section(70,75,'rgba(255,0,0,0.5)')),
                                      minValue: 70,
                                      maxValue: 100,
                                      ledVisible: false,
                                      lcdVisible: false,
                                      threshold: 75,
                                      titleString: 'Water',
                                      unitString: 'Level',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var fill_time = new steelseries.Radial(
                              'FillTime', {
                                //    section: Array(steelseries.Section(110,120,'rgba(220,220,0,0.3)')),
                                      area: Array(steelseries.Section(120,180,'rgba(255,0,0,0.3)')),
                                      minValue: 0,
                                      maxValue: 180,
                                      ledVisible: false,
                                      lcdVisible: true,
                                      threshold: 120,
                                      titleString: 'Fill',
                                      unitString: 'Timer',
                                      lcdDecimals: 0,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var fill_gallons = new steelseries.Radial(
                              'CurrentFillGallons', {
                                //   section: Array(steelseries.Section(110,120,'rgba(220,220,0,0.3)')),
                                //   area: Array(steelseries.Section(110,120,'rgba(255,0,0,0.3)')),
                                      minValue: 0,
                                      maxValue: 1500,
                                      ledVisible: false,
                                      lcdVisible: true,
                                      threshold: 1400,
                                      titleString: 'Current Fill',
                                      unitString: 'Gallons',
                                      lcdDecimals: 0,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var gallons_last = new steelseries.Radial(
                              'LastFillGallons', {
                                //   section: Array(steelseries.Section(110,120,'rgba(220,220,0,0.3)')),
                                //   area: Array(steelseries.Section(110,120,'rgba(255,0,0,0.3)')),
                                      minValue: 0,
                                      maxValue: 1500,
                                      ledVisible: false,
                                      lcdVisible: true,
                                      threshold: 1400,
                                      titleString: 'Last Fill',
                                      unitString: 'Gallons',
                                      lcdDecimals: 0,
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var pool_ph = new steelseries.Radial(
                              'PoolpH', {
                                      section: Array(steelseries.Section(5,7.2,'rgba(225,0,0,0.3)'),
				                    steelseries.Section(7.2,7.8,'rgba(0,255,0,0.3)'),
						    steelseries.Section(7.8,11,'rgba(225,0,0,0.3)')),
                                      area: Array(steelseries.Section(7.2,7.8,'rgba(0,255,0,0.3)')),
                                      minValue: 5,
                                      maxValue: 11,
                                      ledVisible: false,
                                      lcdVisible: true,
                                      threshold: 7.8,
                                      titleString: 'Pool',
                                      unitString: 'pH',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var pool_orp = new steelseries.Radial(
                              'PoolORP', {
                                      section: Array(steelseries.Section(500,675,'rgba(225,0,0,0.3)')),
                                      area: Array(steelseries.Section(675,800,'rgba(0,255,0,0.3)')),
                                      minValue: 500,
                                      maxValue: 800,
                                      ledVisible: false,
                                      lcdVisible: true,
                                      threshold: 675,
                                      titleString: 'Pool',
                                      lcdDecimals: 0,
                                      unitString: 'ORP',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      pointerType: steelseries.PointerType.TYPE16
                              });



              var pool_temp_sensor_humidity = new steelseries.Radial(
                              'PoolTempHumidity', {
                                      section: Array(steelseries.Section(0,65,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(65,100,'rgba(255,0,0,0.5)')),
                                   //   section: Array(steelseries.Section(0,65,'rgba(225,0,0,0.3)')),
                                   //   area: Array(steelseries.Section(675,800,'rgba(0,255,0,0.3)')),
                                      minValue: 0,
                                      maxValue: 100,
                                      ledVisible: true,
                                      lcdVisible: true,
                                      threshold: 65,
                                      titleString: 'Pool Temp',
                                      unitString: 'Sensor Humidity',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      lcdDecimals: 0,
                                      pointerType: steelseries.PointerType.TYPE16
                              });

              var pool_level_sensor_humidity = new steelseries.Radial(
                              'PoolLevelHumidity', {
                                      section: Array(steelseries.Section(0,65,'rgba(0,255,0,0.3)')),
                                      area: Array(steelseries.Section(65,100,'rgba(255,0,0,0.5)')),
                                   //   section: Array(steelseries.Section(0,65,'rgba(225,0,0,0.3)')),
                                   //   area: Array(steelseries.Section(675,800,'rgba(0,255,0,0.3)')),
                                      minValue: 0,
                                      maxValue: 100,
                                      ledVisible: true,
                                      lcdVisible: true,
                                      threshold: 65,
                                      titleString: 'Pool Level',
                                      unitString: 'Sensor Humidity',
                                      frameDesign: steelseries.FrameDesign.BLACK_METAL,
                                      backgroundColor: steelseries.BackgroundColor.LIGHT_GRAY,
                                      lcdColor: steelseries.LcdColor.RED,
                                      lcdDecimals: 0,
                                      pointerType: steelseries.PointerType.TYPE16
                              });




       
              var battery1 = new steelseries.Battery('TempBatt', {
                      size: 100,
                      value: {{pool_temp_batt_percentage}}
              });
      
              var battery2 = new steelseries.Battery('LevelBatt', {
                      size: 100,
                      value: {{pool_level_batt_percentage}}
              });

              var battery1 = new steelseries.Battery('GarageBatt', {
                      size: 100,
                      value: {{garage_temp_batt_percentage}}
              });

              var battery2 = new steelseries.Battery('AtticBatt', {
                      size: 100,
                      value: {{attic_temp_batt_percentage}}
              });





	      total_gallons_used = new steelseries.DisplaySingle('TotalGallons', {
                            width: 120,
                            height: 40,
			    lcdDecimals:  0,
                            unitString: "unit",
                            unitStringVisible: false,
                            headerString: "Total Gallons To Date",
                            headerStringVisible: true,
                            lcdColor: steelseries.LcdColor.SECTIONS,
                            });

	      watts_in_use = new steelseries.DisplaySingle('TotalPowerUse', {
                            width: 120,
                            height: 40,
			    lcdDecimals:  0,
                            unitString: "unit",
                            unitStringVisible: false,
                            headerString: "Total Watts in Use",
                            headerStringVisible: true,
                            lcdColor: steelseries.LcdColor.SECTIONS,
                            });

	      watts_importing = new steelseries.DisplaySingle('TotalPowerImporting', {
                            width: 120,
                            height: 40,
			    lcdDecimals:  0,
                            unitString: "unit",
                            unitStringVisible: false,
                            headerString: "Watts from APS",
                            headerStringVisible: true,
                            lcdColor: steelseries.LcdColor.RED,
                            });

	      watts_solar = new steelseries.DisplaySingle('TotalSolar', {
                            width: 120,
                            height: 40,
			    lcdDecimals:  0,
                            unitString: "unit",
                            unitStringVisible: false,
                            headerString: "Solar Generation Watts",
                            headerStringVisible: true,
                            lcdColor: steelseries.LcdColor.SECTIONS,
                            });



      
              pool_temp.setValue({{pool_current_temp}});
              pump_watts.setValue({{current_pool_watts}});
	      pump_rpm.setValue({{pump_rpm}});

	      {% if pump_run_led  %}
	      pump_gpm.setValue({{pump_gpm}});
	      {% else %}
	      pump_gpm.setValue(0);
	      {% endif %}

	      filter_psi.setValue({{filter_current_psi}});
          pool_level.setValue({{pool_level_percentage}});
	      fill_time.setValue({{pool_fill_total_time}});
	      fill_gallons.setValue({{gallons_current_fill}});
	      gallons_last.setValue({{gallons_last_fill}});
	      pool_ph.setValue({{pool_current_ph}});
	      pool_orp.setValue({{pool_current_orp}});
	      total_gallons_used.setValue({{total_system_gallons}});
	      watts_in_use.setValue({{total_current_power_utilization}});
	      watts_importing.setValue({{total_current_power_import}});
	      watts_solar.setValue({{total_current_solar_production}});
	      pool_temp_sensor_humidity.setValue({{pool_temp_sensor_humidity}});
	      pool_level_sensor_humidity.setValue({{pool_level_sensor_humidity}});

      
      }
   </script>
